.importante {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.tipoMichi{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dato {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid snow;
  width:90%;
}

main .img {
  display: flex;
  justify-content: center;
}

main .img img {
  align-items: center;
  align-self: stretch;
}
p {
  font-size: 18px;
  padding: 5px;
}

