main article {
  box-shadow: 5px 5px 10px rgb(177, 148, 113);
  background-color: var(--amarillito);
  border-radius: 10px;
  border-style: inset;
  justify-content: center;
  display: flex;
  padding: 10px;
  align-items: center;
  margin: 10px;
  flex-direction: column;
  width: 300px;
}

.validado{
  color: green;
}
.invalido{
  color: red;
}
@media (min-width:600px) {

main .gatos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  main article {
    width: 45%;
    box-shadow: 5px 5px 10px rgb(177, 148, 113);
    background-color: var(--amarillito);
    border-radius: 10px;
    border-style: inset;
    justify-content: center;
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: column;
  }
  .carousel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width:768px) {
  main .gatos .carousel{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap:wrap;
  gap: 15px;
}


main article {
  width: 90%;
  box-shadow: 5px 5px 10px rgb(177, 148, 113);
  background-color: var(--amarillito);
  border-radius: 10px;
  border-style: inset;
  justify-content: center;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-direction: column;
}
@media (min-width) {
  
main .gatos .carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap:wrap;
  gap: 15px;
}


main article {
  width: 90%;
  box-shadow: 5px 5px 10px rgb(177, 148, 113);
  background-color: var(--amarillito);
  border-radius: 10px;
  border-style: inset;
  justify-content: center;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-direction: column;
}}


@media (min-width:768px) {
  

main article {
  width: 90%;
  box-shadow: 5px 5px 10px rgb(177, 148, 113);
  background-color: var(--amarillito);
  border-radius: 10px;
  border-style: inset;
  display: flex;
  padding: 10px;
  height: 517px;
  width: 300px;
  margin: 5px;
  align-items: center;
  flex-direction: column;
}
.carousel{
  display: flex;
  justify-content: center;
}
.carousel-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.carousel-slide {
  display: none;
  width: 100%;
}
}}