@import url("index.css");
@import url("register.css");
@import url("gracias.css");
@import url("login.css");
@import url("gatito.css");
@import url("adopcion.css");
:root {
  --rosita: #ffc7ea;
  --violeta: #d8b4f8;
  --amarillito: #fbf0b2;
  --azulito: #caedff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--azulito);
  background-image: url("../img/background.png");
}
header {
  background-color: var(--rosita);
  display: flex;
  flex-direction: column;
  padding: 10px;
}

header div.header {
  display: flex;
  justify-content:space-between;
  align-items: center;
}
header div.header img {
  width: 80px;
  height: 80px;
}
header div.header div.busqueda-login {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
header div.header div.buscar {
  display: flex;
  align-items: center;
}
header div.header div.buscar input {
  background-color: var(--amarillito);
  font-family: "Ingrid Darling", cursive;
}

header div.header div.buscar i {
  color: var(--amarillito);
  border: 1px solid var(--amarillito);
  padding: 5px;
  border-radius: 50%;
}

header div.header div.register_login {
  display: flex;
  align-items: center;
}
button:hover {
  transform: scale(1.3);
}

header .register_login button {
  font-size: 1rem;
  padding: 3px;
  background-color: #fbf0b2;
  border: 1px solid var(--rosita);
  border-radius: 5px;
  margin: 5px;
  font-family: "Ingrid Darling", cursive;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main h1{
  font-size: 25px;
  text-align: center;
}
button {
  font-size: 1rem;
  padding: 3px;
  background-color: #ffc7ea;
  border: 1px solid var(--rosita);
  border-radius: 5px;
  margin: 5px;
  font-family: "Ingrid Darling", cursive;
}
i {
  padding: 3px;
  border: 1px solid;
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: black;
}

.p {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid snow;
  width: 95%;
}
img {
  width: 90%;
  height: 150px;
  margin: 15px;
}
form {
  justify-content: center;
  box-shadow: 5px 5px 10px rgb(177, 148, 113);
  background-color: var(--amarillito);
  border-radius: 10px;
  border-style: inset;
  display: flex;
  padding: 10px;
  margin: 15px;
  align-items: center;
  flex-direction: column;
}
footer {
  background-color: #d8b4f8;
  display: flex;
  padding: 15px;
  margin-top: 15px;
  justify-content: center;
}

@media (min-width:768px){
  body {
    background-color: var(--azulito);
    background-image: url("../img/background.png");
  }
  header {
    background-color: var(--rosita);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    padding: 10px;
  }
  
  header div.header {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }
  header div.header img {
    width: 100px;
    height: 100px;
    justify-content: flex-start;
  }
  header div.header div.busqueda-login {
    display: flex;
    width: 90%;
    gap: 15px;
    justify-content: flex-end;
  }
  header div.header div.buscar {
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 6px;
  }
  header div.header div.buscar input {
    font-size: 35px;
    width: 350px;
    background-color: var(--amarillito);
    font-family: "Ingrid Darling", cursive;
  }
  
  header div.header div.buscar i {
    color: var(--amarillito);
    border: 1px solid var(--amarillito);
    padding: 5px;
    font-size: 40px;
    border-radius: 50%;
  }
  
  header div.header div.register_login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-direction: row;
  }
  button:hover {
    transform: scale(1.3);
  }
  
  header .register_login button {
    font-size: 1.5rem;
    width: 100px;
    height: 60px;
    padding: 3px;
    background-color: #fbf0b2;
    border: 1px solid var(--rosita);
    border-radius: 5px;
    margin: 5px;
    font-family: "Ingrid Darling", cursive;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  button {
    font-size: 1.5rem;
    padding: 3px;
    background-color: #ffc7ea;
    border: 1px solid var(--rosita);
    border-radius: 5px;
    width: 200px;
    margin: 5px;
    font-family: "Ingrid Darling", cursive;
  }
  i {
    padding: 3px;
    border: 1px solid;
    border-radius: 50%;
  }
  h1,
  h2,
  h3,
  h4 {
    font-size: 3rem;
    font-family: "Ingrid Darling", cursive;
    padding: 10px;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: black;
  }
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 55px;
    font-size: 1.5rem;
    margin-inline-end: 55px;
    padding: 15px;
  }
  .p {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid snow;
    width: 1240px;
    height: 100%;
  }
  img {
    width: 90%;
    height: 150px;
    margin: 15px;
  }
  form {
    justify-content: center;
    box-shadow: 5px 5px 10px rgb(177, 148, 113);
    background-color: var(--amarillito);
    border-radius: 10px;
    border-style: inset;
    display: flex;
    padding: 10px;
    margin: 15px;
    align-items: center;
    flex-direction: column;
  }
  footer {
    background-color: #d8b4f8;
    display: flex;
    padding: 15px;
    margin-top: 15px;
    justify-content: center;
  } 
}
